{% include 'base.html' %} 

<div class='container-fluid section' id='Welcome'>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style='padding: 0; margin: 0;'>
            <div class="parallax-container par" style='width: 100%;'>
                <div class="centered" style='width: 100%;'>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style='padding: 0; margin: 0;'>
                        <h1 class="text-center text-white bite" style='font-family: Permanent Marker; font-size: 50px;'>Need a Bite to Eat?</h1>
                    </div>
                    <br/>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" style='padding: 0; margin: auto;'>
                        <a href="#input-form">
                            <button class="text-center button" style='font-family: Quicksand; font-size: 16px; width: 100%;'>Allow us to help satisfy your eating needs!</button>
                        </a>
                    </div>
                </div>
                <div class="parallax">
                    <img src="../static/images/p1.jpg" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
</div>

<div class='container-fluid section' id='Welcome'>
    <div class='divImg'>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style='padding: 0; margin: 0;'>
                <div class='text-center'>
                    <img src="../static/images/welcome_1.png" style='margin: auto; width: 200px; height: 230px;'>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style='padding: 0; margin: 0;'>
                <h2 class="text-center text-white heading" style='font-family: Quicksand;'>Welcome to <p class='Name' style='font-family: Fredericka the Great; font-size: 50px;'>FindMyTaste!</p></h2>
                <br/>
                <h3 class="text-center text-white" style='font-family: Quicksand;'>Input the details so that we can find your meal :P</h3>
            </div>  
        </div>
        <br/>
        <div class="row">
            <div class="col-1 col-sm-1 col-md-4 col-lg-4 col-xl-4" style='padding: 0; margin: 0;'></div>
            <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4" style='padding: 0; margin: 0;'>
                <div style="text-align: center; width: 100%;">
                    <!--Made the Find my taste button a link to the input-form -->     
                    <a href="#input-form">
                        <button class='button'>Find My Taste!</button>
                    </a>
                </div>
            </div>
            <div class="col-1 col-sm-1 col-md-4 col-lg-4 col-xl-4" style='padding: 0; margin: 0;'></div>
        </div>
    </div>
</div

<div class='container-fluid section' id='input-form'>
    <!-- part for the input form -->
    <div class="row">
        <div class="parallax-container par">
            <div class='divImg'>
                <div class="row form">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style='padding: 0; margin: 0;'>
                        <h1 class="text-white text-center" style='width: 100%; font-family: Permanent Marker;'>Input form</h1>
                    </div>
                    <br/>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style='padding: 0; margin: 0;'>
                        <!-- action takes the input data and goes to the id=Output part of the html file-->
                        <form action="/index#Output" method="post">
                            {{ form.hidden_tag() }}
                            <div class="row">
                                <!-- City field -->
                                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" style='padding: 0; margin: 0;'></div>
                                <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4" style='padding: 0; margin: 0;'>
                                    <p class='form_component_holder'>
                                        {{ form.city.label(class='label') }}<br>
                                        {{form.city(class='input')}}
                                        {% for error in form.city.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </p>
                                </div>
                                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" style='padding: 0; margin: 0;'></div>

                                <!-- Cuisine field -->
                                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" style='padding: 0; margin: 0;'></div>
                                <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4" style='padding: 0; margin: 0;'>
                                    <p class='form_component_holder'>
                                        {{ form.cuisine.label(class='label') }}<br>
                                        {{ form.cuisine(class='input') }}<br>
                                        {% for error in form.cuisine.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </p>
                                </div>
                                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" style='padding: 0; margin: 0;'></div>
                            </div>

                            <div class="row">
                                <!-- Day field-->
                                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" style='padding: 0; margin: 0;'></div>
                                <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4" style='padding: 0; margin: 0;'>
                                    <p class='form_component_holder'>
                                        {{ form.day.label(class='label') }}<br>
                                        {{ form.day(class='input') }}<br>
                                        {% for error in form.day.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </p>
                                </div>
                                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" style='padding: 0; margin: 0;'></div>

                                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" style='padding: 0; margin: 0;'></div>
                                <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4" style='padding: 0; margin: 0;'>
                                    <p class='form_component_holder'>
                                        {{ form.time.label(class='label') }}<br>
                                        {{ form.time(class='input') }}<br>
                                        {% for error in form.time.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </p>
                                </div>
                                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" style='padding: 0; margin: 0;'></div>
                            </div>
                            <br/>
                            <div class="row">
                                <!--Submit field-->
                                <div class="col-1 col-sm-1 col-md-4 col-lg-4 col-xl-4" style='padding: 0; margin: 0;'></div>
                                <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4" style='padding: 0; margin: 0;'>
                                    <p class='form_component_holder'>{{ form.submit(class_="text-center text-black text; button") }}</p>
                                </div>
                                <div class="col-1 col-sm-1 col-md-4 col-lg-4 col-xl-4" style='padding: 0; margin: 0;'></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="parallax">
                <img src="../static/images/p2.jpg" style="width: 100%;">
            </div>
        </div>
    </div>
</div>