{% include 'base.html' %} 
<style>

    #middle {
        font-size: 30px;
        color: whitesmoke;
    }

    option, select {
        position: relative;
        border: 1px solid #ccc;
        border-radius: 3px;
        color: gray;
        display: inline-block;
        font-size: 18px;
        line-height: 18px;
        padding: 10px;
        width: 210px;
    }

    button {
        background-color: #e7e7e7;
        color: black;
        text-align: center;
        font-size: 18px;
        display: inline-block;
        padding: 16px 18px;
    }

    input {
        border: none;
        color: black;
        display: inline;
        font-size: 18px;
        background-color: whitesmoke;
        padding: 12px 18px;
    }

    .Form_load {
        width: 300px;
        color: white;
        border-radius: 2rem;
        border-width: 2px;
        border-color: white;
        background-color: rgb(28, 24, 12);
    }

    .bite {
        letter-spacing: .1em;
        text-shadow: 0px 22px 1px rgba(0, 0, 0, 0.91);
    }

    .allow {
        letter-spacing: .1em;
        text-shadow: 0px 10px 0px rgba(0, 0, 0, 0.91);
        font-weight: bolder;
    }

</style>

<div class="parallax-container par">
   <div class="centered">
        <h1 class="text-center text-white bite" style='font-family: Permanent Marker; font-size: 50px;'>Need a Bite to Eat?</h1>
        <br/>
        <h3 class="text-center text-white allow" style='font-family: Quicksand; font-size: 25px'>Allow us to help satisfy your eating needs!</h3>
    </div>
    <div class="parallax">
        <img src="../static/images/p1.jpg" style="width: 100%;">
    </div>
</div>
<div class='divImg'>
    <div = class="centered text-center">
        <div class='text-center'>
            <img src="../static/images/welcome_1.png" style='margin: auto; width: 200px; height: 230px;'>
        </div>
        <h2 class="text-center text-white heading" style='font-family: Quicksand;'>Welcome to <p class='Name' style='font-family: Fredericka the Great; font-size: 50px;'>FindMyTaste!</p></h2>
        <h3 class="text-center text-white" style='font-family: Quicksand;'>Input the details so we can find you what to eat :P</h3>
        <br/>
        <div style="text-align: center">
            <button type="button" class='Form_load' style='font-family: Quicksand;'>Find My Taste!</button>
        </div>

    </div>
</div>
<div class="parallax-container par">
    <div class="centered text-center" style='z-index: 100'>
        <h1 class="text-white">Input form</h1>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.city.label(id='middle') }}<br>
                    {{form.city}}
                    {% for error in form.city.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.cuisine.label(id='middle') }}<br>
                    {{ form.cuisine }}<br>
                    {% for error in form.cuisine.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.day.label(id='middle') }}<br>
                    <select name="DAY">
                        {% for choice, human in form.day.choices %}
                        <option value="{{ choice }}">
                        {{human}}
                        </option>
                        {% endfor %}
                    </select><br>
                    {% for error in form.day.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.time.label(id='middle') }}<br>
                    {{ form.time(class_="background-color: whitesmoke") }}<br>
                    {% for error in form.time.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit(class_="text-center text-black text;") }}</p>
            </form>

        <div>
            <button type="button">Go back Home</button>
        </div>

    </div>
    <div class="parallax">
        <img src="../static/images/p2.jpg" style="width: 100%;">
    </div>
</div>

<div class='divImg'>
    <h1 class="text-center text-white heading">Output results come here</h1>
</div>
<div class="parallax-container par">
    <div class="parallax">
        <img src="../static/images/p3.jpg" style="width: 100%;">
        <div class="centered text-center">
            <h1 class="text-center text-white">List of restaurants come here</h1>
        </div>
    </div>
</div>
