{% include 'base.html' %} 
<style>
   
    #middle {
        font-size: 30px;
        color: whitesmoke;
    }

    option, select {
        position: relative;
        border: 1px solid #ccc;
        border-radius: 3px;
        color: gray;
        display: inline-block;
        font-size: 18px;
        line-height: 18px;
        padding: 10px;
        width: 210px;
    }

    button {
        background-color: #e7e7e7;
        border: none;
        color: black;
        text-align: center;
        font-size: 18px;
        display: inline-block;
        padding: 16px 18px;
    }

    input {
        border: none;
        color: black;
        display: inline;
        font-size: 18px;
        background-color: whitesmoke;
        padding: 12px 18px;
    }
</style>

<div class="parallax-container par">
    <div class="parallax">
        <img src="../static/images/p1.jpg" style="width: 100%;">
        <div class="centered">
            <h1 class="text-center text-white">Name of Website</h1>
            <h2 class="text-center text-white">Maybe add icons</h2>
            <h3 class="text-center text-white">Maybe add slogan</h3>
        </div>
    </div>
</div>
<div class='divImg'>
    <div = class="centered text-center">
        <h1 class="text-center text-white heading">Welcome to ChowFind!</h1>
        <h2 class="text-center text-white">Input the details so we can find you what to eat :P</h2>
        <div style="text-align: center">
            <button type="button" >Find My Taste!</button>
        </div>

    </div>
</div>
<div class="parallax-container par">
    <div class="parallax">
        <img src="../static/images/p2.jpg" style="width: 100%;">
        <div class="centered text-center">
            <h1 class="text-white">Input form</h1>
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.city.label(id='middle') }}<br>
                        {{form.city}}
                        {% for error in form.city.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.cuisine.label(id='middle') }}<br>
                        {{ form.cuisine }}<br>
                        {% for error in form.cuisine.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.day.label(id='middle') }}<br>
                        <select name="DAY">
                            {% for choice, human in form.day.choices %}
                            <option value="{{ choice }}">
                            {{human}}
                            </option>
                            {% endfor %}
                        </select><br>
                        {% for error in form.day.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.time.label(id='middle') }}<br>
                        {{ form.time(class_="background-color: whitesmoke") }}<br>
                        {% for error in form.time.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.submit(class_="text-center text-black text;") }}</p>
                </form>

            <div>
                <button type="button">Go back Home</button>
            </div>

        </div>
    </div>
</div>
<div class='divImg'>
    <div>
        <h1 class="text-center text-white heading">Output results come here</h1>
    </div>
</div>
<div class="parallax-container par">
    <div class="parallax">
        <img src="../static/images/p3.jpg" style="width: 100%;">
        <div class="centered text-center">
            <h1 class="text-center text-white">List of restaurants come here</h1>
        </div>
    </div>
</div>
