{% include 'base.html' %} 

<div class='container-fliud section' id='Top'>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style='padding: 0; margin: 0;'>
            <div class="parallax-container par">
                <div class="centered">
                    <h1 class="text-center text-white bite" style='font-family: Permanent Marker; font-size: 50px;'>Need a Bite to Eat?</h1>
                    <br/>
                    <h3 class="text-center text-white allow" style='font-family: Quicksand; font-size: 25px'>Allow us to help satisfy your eating needs!</h3>
                </div>

                <div class="parallax">
                    <img src="../static/images/p1.jpg" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
</div>

<div class='container-fluid section'>
    <div class='divImg'>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style='padding: 0; margin: 0;'>
                <div class='text-center'>
                    <img src="../static/images/welcome_1.png" style='margin: auto; margin-top: 50px; width: 200px; height: 230px;'>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style='padding: 0; margin: 0;'>
                <h2 class="text-center text-white heading" style='font-family: Quicksand;'>Welcome to <p class='Name' style='font-family: Fredericka the Great; font-size: 50px;'>FindMyTaste!</p></h2>
                <h3 class="text-center text-white" style='font-family: Quicksand;'>Input the details so we can find you what to eat :P</h3>
            </div>  
        </div>
        <br/>
        <div class="row">
            <div class="col-1 col-sm-1 col-md-4 col-lg-4 col-xl-4" style='padding: 0; margin: 0;'></div>
            <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4" style='padding: 0; margin: 0;'>
                <div style="text-align: center; width: 100%;">
                    <button type="button" class='Form_load' style='font-family: Quicksand;'>Find My Taste!</button>
                </div>
            </div>
            <div class="col-1 col-sm-1 col-md-4 col-lg-4 col-xl-4" style='padding: 0; margin: 0;'></div>
        </div>
    </div>
</div>

<div class='container-fluid section'>
    <div class="row">
        <div class="parallax-container par">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style='padding: 0; margin: 0;'>
                    <h1 class="text-white text-center" style='width: 100%;'>Input form</h1>
                </div>
                
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style='padding: 0; margin: 0;'>
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" style='padding: 0; margin: 0;'></div>
                            <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4" style='padding: 0; margin: 0;'>
                                <p class='form_component_holder'>
                                    {{ form.city.label(class='label') }}<br>
                                    {{form.city(class='input')}}
                                    {% for error in form.city.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" style='padding: 0; margin: 0;'></div>

                            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" style='padding: 0; margin: 0;'></div>
                            <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4" style='padding: 0; margin: 0;'>
                                <p class='form_component_holder'>
                                    {{ form.cuisine.label(class='label') }}<br>
                                    {{ form.cuisine(class='input') }}<br>
                                    {% for error in form.cuisine.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" style='padding: 0; margin: 0;'></div>
                        </div>

                        <div class="row">
                            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" style='padding: 0; margin: 0;'></div>
                            <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4" style='padding: 0; margin: 0;'>
                                <p class='form_component_holder'>
                                    {{ form.day.label(class='label') }}<br>
                                    <select name="DAY" class='input'>
                                        {% for choice, human in form.day.choices %}
                                        <option value="{{ choice }}">
                                        {{human}}
                                        </option>
                                        {% endfor %}
                                    </select><br>
                                    {% for error in form.day.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" style='padding: 0; margin: 0;'></div>

                            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" style='padding: 0; margin: 0;'></div>
                            <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4" style='padding: 0; margin: 0;'>
                                <p class='form_component_holder'>
                                    {{ form.time.label(class='label') }}<br>
                                    {{ form.time(class='input') }}<br>
                                    {% for error in form.time.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" style='padding: 0; margin: 0;'></div>
                        </div>

                        <div class="row">
                            <div class="col-1 col-sm-1 col-md-4 col-lg-4 col-xl-4" style='padding: 0; margin: 0;'></div>
                            <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4" style='padding: 0; margin: 0;'>
                                <p class='form_component_holder'>{{ form.submit(class_="text-center text-black text; button") }}</p>
                            </div>
                            <div class="col-1 col-sm-1 col-md-4 col-lg-4 col-xl-4" style='padding: 0; margin: 0;'></div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="parallax">
                <img src="../static/images/p2.jpg" style="width: 100%;">
            </div>
        </div>
    </div>
</div>

<div class='container-fluid section' id='Output'>
    <div class="row">
        <div class='divImg'>
            <h1 class="text-center text-white heading">Output results come here</h1>
        </div>
    </div>
</div>

<div class='container-fluid section' id='ExtraOutput'>
    <div class="row">
        <div class="parallax-container par">
            <div class="centered text-center">
                <!--Enter code in this div-->
                <h1 class="text-center text-white">List of restaurants come here</h1>
                
            </div>

            <div class="parallax">
                <img src="../static/images/p3.jpg" style="width: 100%;">
            </div>
        </div>
    </div>
</div>
