{% include 'base.html' %} 

<div class='container-fluid section' id='Output'>
    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" style='padding: 0; margin: 0;'></div>
    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10" style='padding: 0; margin: 0;'></div>
        <div class='divImg text-center'>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style='padding: 0; margin: 0;'>
                    <div>
                        <h1 class="text-center text-white heading" style="margin-bottom: 25px; font-family: Permanent Marker;">This must be the place!</h1>
                    </div>
                </div>
                
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style='padding: 0; margin: 0;'>
                    <div>
                        <h2 class='text-white'>{{best_res}}</h2>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style='padding: 0; margin: 0;'>
                    <p style='width: 100%; justify-content: right;'>
                        <address class="text-white font-size : 10">
                            {{address}}
                           <!-- 13 Ryneveld St,<br>
                            Stellenbosch,<br>
                            Cape Town<br>
                            7600 --->
                        </address>
                    </p>
                </div>

                <div>
                    {%for i in range (0,lenp)%}
                    <p><img src = {{pictIDs[0]}} style= "width:100px; height:100px" align = "right"></p>
                    <div class="text-white" style='font-size: 15px' align = "right">
                        {{captions[i]}}
                    </div>   
                    {%endfor%}
                     </div>
    

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style='padding: 0; margin: 0;'>
                    <div style="margin-bottom: 20px; margin-top: 20px;">
                        <h4 class ="text-white">Star Rating:</h4>
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                       <div>
                        {% if rating == 1  %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif rating == 1.5 %}
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star-half-full checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    {% elif rating == 2 %}
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>

                    {% elif rating == 2.5 %}
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star-half-full checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>

                    {%elif rating == 3 %}
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    {%elif rating == 3.5 %}
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star-half-full checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    {%elif rating == 4 %}
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    {%elif rating == 4.5 %}
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star-half-full checked"></span>
                    {%elif rating == 5 %}
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked "></span>

                    {% endif %}
                    </div>
                    </div>
                </div> 

                
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style='padding: 0; margin: 0;'>
                    <h4 class = "text-white" style="margin-bottom: 20px;">Review:</h4>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style='padding: 0; margin: 0;'>
                    <div class="chip" style="margin-bottom: 20px;">
                        <img src="avatar.png" alt= {{user}} class="avatar">             
                    </div> 
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style='padding: 0; margin: 0;'>
                    <div class="text-white" style='font-size: 15px'>
                        {{review}}
                    </div>                

                </div>

                <!-- This shows what is input from the input-form -->
                <p>
                    <div class="boxed text-white">
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            <ul>
                                {% for message in messages %}
                                <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endwith %}
                    </div>
                </p>
            </div>
        </div>
</div>

<div class='container-fluid section' id='ExtraOutput'>
    <div class="row">
        <div class="parallax-container par">
            <div class='divImg'>
                <div class="centered text-center">
                    <!--Enter code in this div-->
                    <h1 class="text-center text-white">List of restaurants </h1>
                {%for i in range (0,len)%}
                
                {%endfor%}
                    <ol>
                    {%for i in range (0,len)%}
                        <li class = "boxed text-white"><p>{{res_names[i]['name']}}</p><p>{{trading[i]}}</p>
                            {% if stars[i] == 1  %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            {% elif stars[i] == 1.5 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-full checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif stars[i] == 2 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
    
                        {% elif stars[i] == 2.5 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-full checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>    
                        {%elif stars[i] == 3 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {%elif stars[i] == 3.5 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-full checked"></span>
                        <span class="fa fa-star"></span>
                        {%elif stars[i] == 4 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        {%elif stars[i] == 4.5 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-full checked"></span>
                        {%elif stars[i] == 5 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked "></span>
    
                        {% endif %}
                        </li>
                    {%endfor%}
                    </ol>
                </div>
            </div>

            <div class="parallax">
                <img src="../static/images/p3.jpg" style="width: 100%;">
            </div>
        </div>
    </div>
</div>
