{% include 'base.html' %} 

<div class="second">
    <div class='container-fluid section' id='Output'>
        <div class='second-top-div'>
            <div class="row">
                <div class='container-fluid'>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <div class='row' style='width: 100%;'>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div>
                                <h1 class="text-white heading" style="margin-bottom: 25px; font-family: Permanent Marker;">Restaurant Recommendation</h1>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class='container-fluid'>
                    <div class='row' style='width: 100%;'>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style='display: inline'>
                            <h2 class='text-white second-label'>Name</h2>
                            <p class='text-white'>{{best_res}}</p>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style='display: inline'>
                            <h2 class='text-white second-label'>Address</h2>
                            <p>
                                <address class="text-white">
                                    {{address}}
                                </address>
                            </p>
                        </div>
                    </div>
                </div>

                <div class='container-fluid'>
                    <div class='row' style='width: 100%;'>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <h2 class='text-white second-label'>Food</h2>
                        </div>
                        {%for i in range (0,lenp)%}
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <p class='text-center'><img src = "{{pictIDs[i]}}" alt='../static/images/generic.jpg' style= "width:200px; height:200px; border-radius: 5px"></p>
                            <div class="text-white text-center" style='font-size: 15px'>
                                <p aria-placeholder='[Photo Caption]'>
                                    {% if captions[i] != ''  %}
                                        {{captions[i]}}
                                    {%elif rating == 3.5 %}
                                        [Photo Caption]
                                    {% endif %}
                                </p>
                            </div> 
                        </div> 
                        {%endfor%}
                    </div>
                </div>
    
                <div class='container-fluid'>
                    <div class='row' style='width: 100%;'>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div style="margin-bottom: 20px; margin-top: 20px;">
                                <h2 class ="text-white second-label">Rating</h2>
                                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                                <div>
                                    {% if rating == 1  %}
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>

                                    {% elif rating == 1.5 %}
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-half-full checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>

                                    {% elif rating == 2 %}
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>

                                    {% elif rating == 2.5 %}
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-half-full checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>

                                    {%elif rating == 3 %}
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>

                                    {%elif rating == 3.5 %}
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-half-full checked"></span>
                                    <span class="fa fa-star"></span>

                                    {%elif rating == 4 %}
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>

                                    {%elif rating == 4.5 %}
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-half-full checked"></span>

                                    {%elif rating == 5 %}
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked "></span>

                                    {% endif %}
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>

                <div class='container-fluid'>
                    <div class='row' style='width: 100%;'>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <h2 class = "text-white second-label" style="margin-bottom: 20px;">Review</h2>
                            <h3>( Reviewed by {{ reviewer }} )</h3>
                        </div>
                        <br/>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="text-white review-div" style='font-size: 18px; background-color: transparent;'>
                                {{review}}
                            </div>                
                        </div>
                    </div>
                </div>

                <!-- This shows what is input from the input-form -->
                <div class='container-fluid'>
                    <div class='row' style='width: 100%;'>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class='user-input text-white'>
                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                    <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class='second-bottom-div' id='ExtraOutput' style='width: 100%;'>
            <br/>
            {% if empty == 0%}
            <div class='container-fluid'>
                <div class='row' style='width: 100%;'>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div>
                            <h1 class="text-white heading" style="margin-bottom: 25px; font-family: Permanent Marker;">Extra Recommendations</h1>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class='container-fluid'>
                <div class='row' style='width: 100%;'>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div>
                            <h3 class="text-white heading" style="margin-bottom: 25px; font-family: Quicksand;">We couldn't find extra restaurants in the same category that you selected</h3>
                            <h2 class="text-white heading" style="margin-bottom: 25px; font-family: Quicksand;">Have a look at our other suggestions</h2>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
           
            <div class='container-fluid'>
                <div class='row' style='width: 100%;'>
                    {%for i in range (0,len)%}
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3" style='margin: auto; margin-bottom: 10px'>
                            <div class = "boxed " style='width: 100%; height: 300px; overflow-y: scroll'>
                                <p class="text-white" style="margin-bottom: 15px; font-family: Creepster Caps;">
                                    {{res_names[i]['name']}}
                                </p>
                                <h5 class='text-white second-label'>Trading Hours:</h5>

                                <p class="text-white">{{trading[i]}}</p>
                                <h5 class='text-white second-label'>Address:</h5>

                                <p><address class="text-white"> <!--align= "left"-->
                                    {{extra_adresses[i]}}
                                </address></p>
                                <h5 class='text-white second-label'>Rating:</h5>

                                {% if stars[i] == 1  %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                {% elif stars[i] == 1.5 %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-half-full checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                {% elif stars[i] == 2 %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                {% elif stars[i] == 2.5 %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-half-full checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>    
                                {%elif stars[i] == 3 %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                {%elif stars[i] == 3.5 %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-half-full checked"></span>
                                <span class="fa fa-star"></span>
                                {%elif stars[i] == 4 %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                {%elif stars[i] == 4.5 %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-half-full checked"></span>
                                {%elif stars[i] == 5 %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked "></span>
                                {% endif %}
                            </div>
                        </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
    <br/>
</div>