html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    font-family: Quicksand;
    font-size: 20px;
}

.img {
    display: block;
    width: 100%;
    height: 500px;
}

.section {
    height: 100vh;
    padding: 0;
    margin: 0;
}

#Output {
    min-height: 1000px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading {
    margin: 0px;
}

.navbar {
    transition: 0.5s ease;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: none;
    border-bottom-width: 0px;
    height: 80px;
}

.navbar.scrolled {
    background-color: rgb(28, 24, 12);
    box-shadow: 0px 3px 6px 0px black;
}

.par {
    width: 100%;
    min-height: 100vh;
}

#middle {
    font-size: 30px;
    color: whitesmoke;
}

option, select {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: gray;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    padding: 10px;
    width: 210px;
}

.form_component_holder {
    width: 100%;
}

.button {
    transition: 0.5s ease;
    text-align: center;
    width: 100%;
    color: white;
    border-radius: 2rem;
    border-width: 2px;
    border-color: white;
    background-color: rgb(28, 24, 12);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    font-family: Quicksand;
    font-size: 20px;
}

.button:hover {
    background-color: black;
    border-color: white;
    color: white;
}

.button:focus {
    color: white;
    border-radius: 2rem;
    border-width: 2px;
    border-color: white;
    background-color: rgb(28, 24, 12);
}

.input {
    width: 100%;
    color: white;
    background-color: rgba(28, 24, 12, 0.6);
}

.input:focus {
    background-color: rgb(28, 24, 12);
}

.label {
    color: white;
    font-family: Quicksand;
    font-size: 20px;
}

.bite {
    letter-spacing: .1em;
    text-shadow: 0px 22px 1px rgba(0, 0, 0, 0.91);
}

.allow {
    letter-spacing: .1em;
    text-shadow: 0px 10px 0px rgba(0, 0, 0, 0.91);
    font-weight: bolder;
}

.container {
    width: 100%;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.row {
    width: 100%;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.col {
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.link {
    color: white;
    font-family: Quicksand;
    font-size: 20px;
}
.checked {
    color: orange;
  }

  .chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
  }
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .boxed {
    border: 1px solid green ;
  } 

  .divImg {
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #input-form {
      min-height: 550px;
  }
